<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-3">
    <div class="container">
        <a class="navbar-brand" href="/articles">Articles</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"></li>
                <a class="nav-link" aria-current="page" href="/articles">Home</a>
                </li>
                <li class="nav-item"></li>
                <a class="nav-link" aria-current="page" href="/login">Dashboard</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="btn btn-success mx-3" href="/login">Login</a>
            </form>
        </div>
    </div>
</nav>