<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
        <% if (hasLogin) { %>
            <%- include("../partials/navbar");%>
                <% } else {%>
                    <%- include("../partials/navbarBeforeLogin");%>
                        <% } %>
                            <title>Articles || All</title>

                            <style>
                                .text {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 4;
                                    -webkit-box-orient: vertical;
                                }
                            </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <% if (articles==null) { %>
                <h1 class="mx-auto">You haven't created an article yet</h1>
                <% } else {%>
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <% articles.forEach(i=> { %>
                            <div class="my-3">
                                <h1>
                                    <%= i.title %>
                                </h1>
                                <div class="text">
                                    <%- i.body %>
                                </div>
                                <a href="/article/<%= i.id %>" class="btn btn-primary mt-3">Read More</a>
                                <hr>
                            </div>
                            <% })%>
                    </div>
                    <% } %>
        </div>
</body>

</html>