<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
        <%- include("../partials/navbar"); %>
            <title>Articles || Edit</title>
            <%- include("../partials/textarea"); %>
</head>

<body>
    <div class="container my-5">
        <div class="card p-5">
            <center>
                <h1>Post an Article</h1>
            </center>
            <form action="/api/v1/articles" method="POST">
                <div class="mb-3">
                    <label for="writer" class="form-label h5">Writer</label>
                    <input type="text" class="form-control" id="writer" name="writer" aria-describedby="writer">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label h5">Title</label>
                    <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label h5">Body</label>
                    <textarea type="text" class="form-control" id="editor" name="body" style="height: 150px;"></textarea>
                </div>
                <button class="btn btn-primary" style="float: right;" type="submit">Post</button>
            </form>
        </div>
    </div>
</body>

</html>