<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
        <%- include("../partials/navbar"); %>
            <title>Articles || Create</title>
            <%- include("../partials/textarea"); %>
</head>

<body>
    <div class="container my-5">
        <div class="card p-5">
            <center>
                <h1>Edit an Article</h1>
            </center>
            <form action="/api/v1/update/<%= article.id %>" method="POST">
                <div class="mb-3">
                    <label for="writer" class="form-label h5">Writer</label>
                    <input type="text" class="form-control" id="writer" name="writer" aria-describedby="writer" value="<%= article.writer %>">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label h5">Title</label>
                    <input type="text" class="form-control" id="title" name="title" aria-describedby="title" value="<%= article.title %>">
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label h5">Body</label>
                    <textarea type="text" class="form-control" id="editor" name="body" style="height: 150px;"><%= article.body %></textarea>
                </div>
                <button class="btn btn-primary" style="float: right;" type="submit">Edit</button>
            </form>
        </div>
    </div>
</body>

</html>