<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
        <%- include("../partials/navbar"); %>
            <title>Articles || Dashboard</title>

            <style>
                .text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                }
            </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <% if (articles.length == 0) { %>
                <center>
                    <h1>You haven't created an article yet</h1>
                </center>
                <% } else {%>
                    <% articles.forEach(i=> { %>
                        <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= i.title %>
                                    </h5>
                                    <i>Written by <%= i.writer %></i>
                                    <div class="my-3 text">
                                        <%- i.body %>
                                    </div>
                                    <div><strong>Views: <%= i.views%></strong></div>
                                    <div><strong>Status:</strong>
                                        <% if (i.approved) {%>
                                            <strong style="color: green;">Approved</strong>
                                            <% } else {%>
                                                <strong style="color: orange;">Disapproved</strong>
                                                <% }%>
                                    </div>
                                    <div class="d-flex mt-3">
                                        <a href="/article/<%= i.id %>" class="btn btn-primary">Read More</a>
                                        <% if (!i.approved) {%>
                                            <a class="btn ms-2" href="/api/v1/approve/<%= i.id %>"><i class="fa fa-check"
                                                    style="color: green;"></i></a>
                                            <% } else {%>
                                                <a class="btn ms-2" href="/api/v1/disapprove/<%= i.id %>"><i class="fa fa-check"
                                                        style="color: orange;"></i></a>
                                                <% }%>
                                                    <a class="btn mx-2" href="/edit/<%= i.id %>"><i class="fa fa-edit"
                                                    style="color: blue;"></i></a>
                                                    <a class="btn" href="/api/v1/delete/<%= i.id %>"><i class="fa fa-trash"
                                                    style="color: red;"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <% } %>
        </div>
    </div>
</body>

</html>