<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
        <%- include("../partials/navbar"); %>
            <title>Article ||
                <%= article.title %>
            </title>
</head>

<body>
    <div class="card container my-5">
        <div class="card-body">
            <center>
                <h1>
                    <%= article.title %>
                </h1>
                <i>Written by
                    <%= article.writer%>
                </i>
            </center>
            <hr>
            <div class="mt-3">
                <%- article.body %>
            </div>
        </div>
    </div>
</body>

</html>