<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
        <%- include("../partials/navbar"); %>
            <title>Articles || Stats</title>

            <style>
                .card {
                    border: none;
                    border-radius: 0;
                    box-shadow: 0 10px 40px 0 rgb(62 57 107 / 7%), 0 2px 9px 0 rgb(62 57 107 / 6%);
                }
                
                .font-large-2 {
                    font-size: 3rem!important;
                }
            </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <i class="fa fa-edit font-large-2" style="float: left!important;"></i>
                            </div>
                            <div class="mx-3 d-flex flex-column justify-content-center">
                                <h3>Admin:
                                    <%= userSize %>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <i class="fa fa-edit font-large-2" style="float: left!important;"></i>
                            </div>
                            <div class="mx-3 d-flex flex-column justify-content-center">
                                <h3>Articles:
                                    <%= articleSize %>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>